.ul{
  display: flex;
  flex-direction: row;
}

.ProductList{
  /* margin: 0 14%; */
  padding: 0 10%;
  justify-content: space-around;
}

.ProductCard{
  width: 25%;
  padding: .5em;
  margin: .5em;
  max-height: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aliceblue;
}

img{
  max-width: 50%;
  max-height: 50%;
  margin: auto;
}

a{
  display: flex;
  flex-direction: column;
  align-items: center;
}