.ul{
  display: flex;
  flex-direction: row;
}

.ProductList{
  padding: 0 1%;
  justify-content: space-around;
}

.ProductCard{
  width: 140px;
  padding: .5em;
  margin: .5em;
  max-height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aliceblue;
}

img{
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

a{
  display: flex;
  flex-direction: column;
  align-items: center;
}